{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/annotation.css' %}">
    <title>Annotation Tool</title>
</head>
<body>
<h1>Редактирование</h1>
<h2>Инструкция:<br><br>
    1) Если на изображении несколько областей контура, то поочереди обведите каждый, нажимая после
    выделения одного "Добавить контур"<br><br>
    2) Если хотите вернуться на шаг назад в выделении контура, нажмите "Назад"<br><br>
    3) Если хотите сбросить выделение, нажмите "Сбросить"<br><br>
    4) Нажмите "Скачать"
</h2>>
<canvas id="imageCanvas"></canvas>
<div class="buttons">
    <button class="but_add" onclick="addMask()">Добавить контур</button>
    <button onclick="saveMask()">Скачать и отправить данные для дообучения</button>
    <button class="but_add" onclick="delMask()">Сбросить</button>
    <button class="but_add" onclick="watch()">Вернуться к просмотру</button>
</div>
<!--    <button onclick="pushMask()">Отправить маску разработчикам</button>-->

<script>
    const canvas = document.getElementById('imageCanvas');
    const ctx = canvas.getContext('2d');
    let points = [];
    let isDrawing = false; // Флаг для отслеживания, рисуем ли мы сейчас

    // Загрузка изображения
    const img = new Image();
    img.src = "{% static img %}";
    img.onload = () => {
        canvas.width = img.width;
        canvas.height = img.height;
        ctx.drawImage(img, 0, 0);
    };

    // Начало рисования
    canvas.addEventListener('mousedown', (event) => {
        isDrawing = true; // Устанавливаем флаг
        const { x, y } = getMousePos(event); // Получаем координаты мыши
        points.push({ x, y }); // Добавляем первую точку
        ctx.beginPath(); // Начинаем новый путь рисования
        ctx.moveTo(x, y);
    });

    // Рисование
    canvas.addEventListener('mousemove', (event) => {
        if (!isDrawing) return; // Рисуем только если мышь зажата
        const { x, y } = getMousePos(event);
        points.push({ x, y }); // Добавляем текущую точку в массив
        ctx.lineTo(x, y); // Рисуем линию до текущей точки
        ctx.strokeStyle = "red";
        ctx.lineWidth = 2;
        ctx.stroke(); // Отображаем линию
    });

    // Конец рисования
    canvas.addEventListener('mouseup', () => {
        isDrawing = false; // Сбрасываем флаг
        ctx.closePath(); // Завершаем путь
    });

    canvas.addEventListener('mouseleave', () => {
        isDrawing = false; // Останавливаем рисование, если мышь ушла за границы
        ctx.closePath();
    });

    // Получение позиции мыши относительно Canvas
    function getMousePos(event) {
        const rect = canvas.getBoundingClientRect();
        return {
            x: event.clientX - rect.left,
            y: event.clientY - rect.top
        };
    }

        // Send points to the server
        function saveMask() {
            fetch('/save_mask/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ points }),
            }).then(response => response.json())
              .then(data => {
              if (data.redirect_url) {
                  window.location.href = data.redirect_url;
              }
              if (data.redirect_main) {
                  setTimeout(() => {
                      window.location.href = data.redirect_main;
                  }, 1000);
              }
          });
        };

        function addMask() {
            fetch('/add_mask/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ points }),
            })

            setTimeout(() => {
                      location.reload();
                  }, 1000);
        };

        function delMask() {
            fetch('/del_mask/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
            })

            setTimeout(() => {
                      location.reload();
                  }, 1000);
        };

        function watch() {
            return window.location.replace("{% url 'results' %}")
        };

</script>
</body>
</html>
